body {
    background-color: beige;
}
.panel {
    height: 100%;
}
#lista .panel-heading {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-muted {
    font-style: italic;
}
carousel {
    height: 305px;
}